
@font-face {
    font-family: "Rotondac";
    src: url('fonts/Rotondac.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Rotondac";
    src: url('fonts/rotondac-bold.otf');
    font-weight: 600;
    font-style: normal;
}
.elite_modal_action{font-family: Rotondac;}
