.modal_charity__trigger__text {
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    color: #D76271;
}

.modal_charity__trigger {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 205px;
    margin: 0 8px;
    position: relative;
    z-index: 3;
}

.modal_charity__triggers {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    position: relative;
    margin-bottom: 40px;
}

.modal_charity__title {
    font-weight: bold;
    font-size: 54px;
    line-height: 1.1;
    color: #DB6173;
    margin-bottom: 16px;
}

.modal_charity__undertitle {
    font-weight: bold;
    font-size: 38.75px;
    line-height: 1.05;
    color: #A1A1A1;
    margin-bottom: 8px;
}

.modal_charity__text {
    font-size: 24px;
    line-height: 1.3;
    color: #757578;
    margin-bottom: 32px;
}

.modal_charity.modal_def {
    background-color: #fff;
    box-shadow: 0px 37.2239px 78.0502px rgba(0, 0, 0, 0.198);
    border-radius: 24px;
    max-width: 1250px;
    width: 97.5%;
    padding: 95px 85px 150px;
    background-image: url(Content/images/charity/decore/bg_modal.png), url(Content/images/charity/decore/bg_charity.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: 100% 100%, 0% 0;
    background-size: 100% 220px, cover;
}

.modal_charity__trigger img {
    max-width: 140px;
    margin: 0 auto 15px;
}

.modal_charity__content {
    max-width: 550px;
    text-align: left;
}

img.modal_charity__trigger_line {
    position: absolute;
    top: 63px;
    width: 50px;
}

.modal_charity__trigger:first-child {
    width: 150px;
}

.modal_charity__trigger:last-child {
    width: 160px;
}

.modal_charity__trigger_line--1 {
    left: 160px;
}

.modal_charity__trigger_line--2 {
    left: 357px;
}

.btn_modal_charity {
    background: #E2231A;
    border-radius: 60px;
    color: #fff;
    text-decoration: none;
    max-width: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 22px;
    height: 64px;
    text-transform: uppercase;
    line-height: 1;
    padding-top: 3px;
}

.btn_modal_charity:hover {
    background: #cd4d47;
    color: #fff;
}

.modal_charity__icons img {
    height: 90px;
    margin: 0 25px;
}

.modal_charity__icons {
    margin: 0 -25px;
    position: absolute;
    right: 60px;
    bottom: 35px;
}

.modal_charity .fancybox-close-small {
    background: #fff;
    border-radius: 50%;
    width: 59px;
    height: 59px;
    right: 20px;
    top: 20px;
}

a.header_btn_charity img {
    width: 100%;
    height: auto;
}

a.header_btn_charity {
    display: flex;
    align-items: center;
    width: 230px;
    margin-right: 30px;
    margin-top: 3px;
}

nav.top_menu {
    margin-left: 30px;
    margin-right: -30px;
}

a.header_btn_charity:hover {
    opacity: 0.5;
}
.fix_button_charity{width: 250px;    position: fixed;
    right: 10px;
    bottom: 15px;
    font-size: 0;
    z-index: 100;
}

@media screen and (min-width: 1600px){
.fix_button_charity {
    left: calc(50% + 535px);
    right: auto;
}
}
@media screen and (max-width: 1200px) {
    .fix_button_charity {
        width: 150px;
        bottom:10px
    }

    a.header_btn_charity {
        margin-right: 10px;
    }

    nav.top_menu {
        margin-left: 0;
        margin-right: -30px;
    }
}
@media screen and (max-width: 1150px) {
a.header_btn_charity {display: none;}
}
@media screen and (max-width: 1050px) {
    
    .modal_charity.modal_def {
        background-position: 50% 100%, 50% 0;
        padding: 50px 50px 150px;
        background-size: 1300px auto, cover;
    }

    .modal_charity__undertitle {
        font-size: 30px;
    }

    .modal_charity__title {
        font-size: 42px;
    }

    .modal_charity__text {
        font-size: 20px;
        max-width: 400px;
    }

    .modal_charity__icons img {
        height: 65px;
        margin: 0px 20px;
    }

    .modal_charity__icons {
        margin: 0 -20px;
        right: 50px;
        bottom: 30px;
    }
}


@media screen and (max-width: 750px) {
    .btn_modal_charity {
        font-size: 14px;
        max-width: 215px;
        height: 42px;
        padding-top: 1px;
        margin-left: 30px;
    }

    .modal_charity__undertitle {
        font-size: 20px;
        margin-bottom: 2px;
    }

    .modal_charity__title {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .modal_charity__text {
        font-size: 15px;
        max-width: 300px;
        margin-bottom: 20px;
    }

    .modal_charity .fancybox-close-small {
        background: transparent;
        width: 40px;
        height: 40px;
        color: #fff;
        top: 0;
        right: 0;
    }

    .modal_charity.modal_def {
        padding: 25px 30px 25px;
        background-position: 40% 0;
        background-size: 840px;
        background-image: url(Content/images/charity/decore/bg_charity.jpg);
    }

    .modal_charity__triggers {
        flex-direction: column;
        align-items: self-start;
        margin-bottom: 20px;
    }


    .modal_charity__triggers .modal_charity__trigger {
        width: auto !important;
        margin-bottom: 20px;
        justify-content: flex-start;
        text-align: left;
        flex-direction: row;
        align-items: center;
        margin: 0 0 18px;
    }

    .modal_charity__trigger img {
        max-width: 47px;
        margin: 0 14px 0 0;
    }


    .modal_charity__trigger__text {
        font-size: 15px;
        max-width: 232px;
        text-align: left;
    }

    img.modal_charity__trigger_line {
        display: none;
    }

    .modal_charity__triggers .modal_charity__trigger:last-child {
        margin-bottom: 0;
    }

    .modal_charity__icons img {
        height: 40px;
        margin: 0 10px;
    }

    .modal_charity__icons {
        bottom: 20px;
        right: 20px;
        margin: 0;
    }
    .fix_button_charity {
        width: 100px;
    }
}

@media screen and (max-width: 500px) {
    .fix_button_charity {
        width: 90px;
    }
    .btn_modal_charity {
        margin-left: 0;
        max-width: 180px
    }

    .modal_charity__content {
        max-width: 100%;
    }

    .modal_charity__triggers {
        margin: 0 0 20px;
    }

    .modal_charity.modal_def {
        padding: 20px;
    }

    .modal_charity__icons img {
        height: 34px;
        margin: 0 5px;
    }

    .modal_charity__icons {
        right: 10px;
        bottom: 17px;
    }
}
@media screen and (max-width: 380px) {
.modal_charity.modal_def {
    background-position: 45% 0;
    background-size: auto 100%;
}
}

@media screen and (max-width: 374px) {
.modal_charity__title {
    font-size: 26px;
}

.modal_charity__undertitle {
    font-size: 18.5px;
    margin-bottom: 3px;
}

.modal_charity__trigger__text {
    font-size: 14px;
    max-width: 217px;
}

.btn_modal_charity {
    max-width: 200px;
}

.modal_charity__icons {display: flex;flex-direction: column;}

.modal_charity__icons img {
    margin: 5px 0;
    height: 30px;
}
}